doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  #{title} 
    body 
        h1  #{messsage.home}
        div(class="container", id="2")
            ol
                //- li(class="list-item") id is => #{user.id } & name => #{user.githubUser}
        div
        div(class="container",)
        //-    form(action='#' method='method')
        //-        .form-group
        //-            label(for='email') Email
        //-            input.form-control(type='email', name='email' placeholder='Email' autofocus=true)
        //-        .form-group
        //-            label(for='password') Password
        //-            input.form-control(type='password', name='{:password}')
        //-        button.btn.btn-primary(type='submit') Log-in    


       

